
<div class="container">
  <h2>Our Teams</h2>
  <p>We have a dedicated team which is working hard to get our ambitious plan.</p>
  <table class="table table-striped">
      <thead class="grey">
      <tr>
        <th scope="col">Employee Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Email</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.employeeId }}</td>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.mobile }}</td>
      </tr>
      </tbody>
    </table>
</div>
