<div class="jumbotran-fluid">
<h1>Welcome at Kabya Internation</h1>
  <p>We are a multinational company. Please find your suitable office, to connect with us.</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Haupt Büro</h2>
      <p>Dolivostraße, Darmstadt</p>
    </div>
    <div class="col-md-4">
      <h2>US Office</h2>
      <p>Kennedy Street 112, New York</p>
    </div>
    <div class="col-md-4">
      <h2>Canada Office</h2>
      <p>Elizabeth street 121, Vancover</p>
    </div>
  </div>
</div>
