<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Kabya Electronics</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body ng-app="myApp">
<hr/>
<div class="container" ng-controller="EmployeeController">
    <div class="row">
        <label>FirstName</label> <input type="text" ng-model="employee.firstName" class="input-sm spacing"/>
        <label>LastName</label> <input type="text" ng-model="employee.firstName" class="input-sm spacing"/>
        <label>Brand</label>
        <select>
          <option>Volvo</option>
          <option ng-selected="mySel">BMW</option>
          <option>Ford</option>
    </select>
        <button ng-click="saveEmployee()" class="btn btn-sm btn-info">Save User</button>
    </div>
    <hr/>
    <div class="row">
        <p>{{allUsers | json}}</p>
    </div>
    <hr/>
    <div class="row" ng-repeat="user in allUsers">
        <div class="">
            <h3>{{user.userName}}</h3>
            <span ng-repeat="skill in user.skillDtos" class="spacing">{{skill.skillName}}</span>
        </div>
    </div>
</div>
</body>
<script src="js/app.js"></script>
<script src="js/EmployeeController.js"></script>
<script src="js/EmployeeService.js"></script>
<link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
<link rel="stylesheet" href="css/main.css"/>
</html>