
 <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Welcome to Kabya Electronics</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <div class="collapse navbar-collapse" id="navbarCollapse">
     <ul class="navbar-nav mr-auto">
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="btn btn-info" routerLink="/home" routerLinkActive="active">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a routerLink="/employee" class="btn btn-info" routerLinkActive="active" >List Employees</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a routerLink="/addemployee" class="btn btn-info" routerLinkActive="active">Add Employee</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a routerLink="/itemdetail" class="btn btn-info" routerLinkActive="active" >List of Items</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a routerLink="/sales" class="btn btn-info" routerLinkActive="active" >Sales</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a routerLink="/contact" class="btn btn-info" routerLinkActive="active">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
